/* 通配符选择器的初始化时间更久，淘宝方使用
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 50px;
}

body {
  background-color: #f5f5f5;
}

span {
  font-size: 16px;
}

/* 交互初始化 */
.wing_news_nav,
.wing_up,
.wing_img_up,
.wing_bg_up,
.wing_text_up,
.wing_box_up img,
.wing_connect_up:hover h3::after {
  transition: all 0.3s ease;
}

.wing_up:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.wing_img_up:hover {
  transform: scale(1.1);
}

.wing_bg_up:hover {
  background-size: 120%;
}

.wing_text_up:hover {
  opacity: 1;
  transform: translateX(20px);
}

.wing_text_blue:hover {
  color: blue !important;
}


.wing_text_up:hover h2::before,
.wing_text_up:hover p::after {
  display: block;
}

.wing_box_up:hover img {
  transform: scale(1.1);
}

/* 
.wing_box_up:hover span {
  opacity: 1;
} */

.wing_connect_up:hover h3::after {
  /* display: block; */
  visibility: visible;
  transform: translateX(20px);
}

.wing_connect_up:hover p {
  display: block;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 60px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}

/* 一定要加padding，不然页面缩小元素就顶着视窗两边，不好看，需要一定的缩进 */
.center {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 1200px) {
  .center {
    width: 1220px;
    padding: 0;
  }
}