/* 通配符选择器的初始化时间更久，淘宝方使用
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

html {
  font-size: 50px;
}

body {
  background-color: #f5f5f5;
}

span {
  font-size: 16px;
}

/* 交互初始化 */
.wing_up,
.wing_img_up,
.wing_bg_up,
.wing_text_up,
.wing_box_up img,
.wing_box_up span,
/* .wing_connect_text, */
.wing_connect_up:hover h3::after {
  transition: all 0.3s ease;
}

.wing_up:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.wing_img_up:hover {
  transform: scale(1.1);
}

.wing_bg_up:hover {
  background-size: 120%;
}

.wing_text_up:hover {
  opacity: 1;
}

.wing_connect_text:hover {
  transform: translateX(20px);
}

.wing_connect_text:hover h2::before,
.wing_connect_text:hover p::after {
  display: block;
}

.wing_box_up:hover img {
  transform: scale(1.1);
}

.wing_box_up:hover span {
  opacity: 1;
}

.wing_connect_up:hover h3::after {
  /* display: block; */
  visibility: visible;
  transform: translateX(20px);
}

.wing_connect_up:hover p {
  display: block;
}

@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}

.center {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .center {
    width: 1200px;
  }
}