/* 通配符选择器的初始化时间更久，淘宝方使用
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 50px;
}

body {
  background-color: #f5f5f5;
}

/* 全局交互初始化 */

.wing_text_blue:hover {
  color: blue !important;
}

/* 移动优先用min，PC优先用max */
@media screen and (max-width: 900px) {
  html {
    font-size: 45px;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 40px;
  }
}

/* 一定要加padding，不然页面缩小元素就顶着视窗两边，不好看，需要一定的缩进 */
.center {
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 1200px) {
  .center {
    width: 1220px;
    padding: 0;
  }
}