/* banner背景 */
.wing_news_bg {
  position: relative;
  height: 720px;
  background: url(../images/banner_3.avif) no-repeat 0 -100px;
  background-size: 100% 900px;
  overflow: hidden;
}

/* 背景蒙版 */
.wing_news_bg_shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.wing_news_container {
  position: relative;
  height: 900px;
  padding-top: 250px;
}

/* nav导航栏，覆盖于container上，定位顶端 */
.wing_news_nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  background-color: transparent;
}

.wing_news_nav img {
  float: left;
  width: 168px;
  height: 22px;
  margin: 25px 0;
}

.wing_news_nav ul {
  display: flex;
  /* 平分盒子,flex */
  float: right;
  justify-content: space-around;
  width: 55%;
}

.wing_news_nav .language {
  float: right;
  width: 18%;
}

.wing_news_nav li {
  color: #FFF;
  height: 72px;
  font-size: 16px;
  font-weight: bold;
  line-height: 72px;
}

.wing_news_nav .language a,
.wing_news_nav .language span {
  float: left;
  height: 72px;
  margin: 0 5px;
  font-size: 16px;
  height: 72px;
  color: #FFF;
  line-height: 72px;
}

/* 文字部分 */
.wing_news_text h2 {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.wing_news_text h5 {
  height: 36px;
  color: #FFF;
  font-size: 0.4rem;
  font-weight: 400;
  margin-bottom: 150px;
}

/* 轮播图按钮 */
.wing_news_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid #FFF;
}

.wing_news_button .wing_news_button_l {
  transform: rotate(180deg);
  margin-left: 20px;
}

.wing_news_button .wing_news_button_chose span {
  float: right;
  width: 10px;
  height: 10px;
  background-color: #fff;
}

/* 最新动态板块 */
/* 为大板块和新板块附加定位,新板块需要压住大板块 */
/* 定位测试 */
/* 测试时需要在最外层加上wing_news这个盒子 */
/* .wing_news {
  position: relative;
}

.wing_latestnews {
  position: relative;
  z-index: 2;
  margin-top: -50px;
  bottom: 30px;
  height: 100px;
  background-color: pink;
} */

/* 选择2D位移实现 */
.wing_latestnews {
  transform: translateY(-120px);
  margin-top: 20px;
}

.wing_latestnews_container {
  display: flex;
  justify-content: space-between;
  color: black;
}

.wing_latestnews_l_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wing_latestnews_l_4,
.wing_latestnews_r_2,
.wing_latestnews_r_3 {
  margin-top: 20px;
}

/* 文字部分初始化 */
.wing_latestnews h4 {
  font-size: 28px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 5px;
}

.wing_latestnews h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.wing_latestnews p {
  font-size: 16px;
}

/* 此处考虑换成 .language:is(h3,p) */
.wing_latestnews h3,
.wing_latestnews p {
  display: block;
  margin: 0 20px 20px;
}

/* .wing_latestnews a {
  display: block;
} */

/* 对三角模块处理 */
.wing_latestnews_container span {
  display: inline-block;
  float: none;
  position: relative;
  width: 130px;
  height: 32px;
  padding-left: 20px;
  border-width: 1px 0;
  border-style: solid;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  margin: 5px 0;
  line-height: 30px;
}

.wing_latestnews_container .blue {
  border-color: blue;
  color: blue;
}

.wing_latestnews_container .white {
  border-color: #FFF;
  color: #FFF;
}

.wing_latestnews_container span::after {
  content: "";
  display: inline-block;
  overflow: hidden;
  position: absolute;
  right: -30px;
  top: 0;
  width: 30px;
  height: 35px;
  transform-origin: top left;
  transform: rotate(30deg);
}

.wing_latestnews_container .blue::after {
  border-left: 1px solid blue;
  background-color: #fff;
}

.wing_latestnews_container .white::after {
  border-left: 1px solid #FFF;
  background-color: rgb(0, 169, 206);
}

/* bg_blue用于修改蓝色背景,覆盖溢出下边缘的背景！ */
/* bg_blue一定要在blue和white后面不要动，因为层叠性 */
.wing_latestnews_container .bg_blue::after {
  background-color: blue;
}

.wing_latestnews_container .bg_gray::after {
  background-color: #CCC;
}

/* 左右盒子宽度初始化 */
.wing_latestnews_l {
  width: 65%;
}

.wing_latestnews_r {
  width: 33%;
}

.wing_latestnews_l_2,
.wing_latestnews_l_3 {
  width: 48%;
}

/* 此处考虑修改为伪类选择器 */
.wing_latestnews_l_1,
.wing_latestnews_l_2,
.wing_latestnews_l_3,
.wing_latestnews_l_4,
.wing_latestnews_r_1,
.wing_latestnews_r_2,
.wing_latestnews_r_3 {
  height: 600px;
}

/* 该处写盒子背景颜色 */
.wing_latestnews_l_1,
.wing_latestnews_l_3 {
  background-color: #FFF;
}

.wing_latestnews_r_1 {
  background-color: rgb(0, 169, 206);
}

.wing_latestnews_l_2,
.wing_latestnews_r_3 {
  background-color: blue;
}

.wing_latestnews_r_2 {
  background-color: #CCC;
}

.wing_latestnews_l_4 {
  background-color: #FFF;
}

/* 图片特征 */
.wing_latestnews_l_1_img,
.wing_latestnews_l_4_img {
  overflow: hidden;
  height: 60%;
}

/* 此处考虑修改为伪类选择器 */
.wing_latestnews_l_2_img,
.wing_latestnews_l_3_img,
.wing_latestnews_r_1_img,
.wing_latestnews_r_2_img,
.wing_latestnews_r_3_img {
  overflow: hidden;
  /* 此处选择让图片自己撑开盒子 */
  /* height: 45%; */
  /* height: auto; */
  border-bottom: 1px solid #FFF;
}

/* 公司板块 */
.wing_company {
  margin-top: 50px;
  background-color: #fff;
  padding: 50px 0;
}

.wing_company_container {
  display: flex;
  justify-content: space-between;
}

.wing_company a {
  display: inline-block;
  /* calc运算符左右一定要有空格隔开 */
  width: calc(33.33% - 20px);
  height: 230px;
}

.wing_company_container div[class^="wing_company_container_"] {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* 背景图片 */
.wing_company_container_1 {
  background: url(../images/company_1.jpg) no-repeat;
  background-position: 50% 50%;
}

.wing_company_container_2 {
  background: url(../images/company_2.jpg) no-repeat;
  background-position: 50% 50%;
}

.wing_company_container_3 {
  background: url(../images/company_3.jpg) no-repeat;
  background-position: 50% 50%;
}

/* 文字居中 */
.wing_company_container span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 32px;
  font-weight: 500;
  color: #FFF;
  line-height: 230px;
}

.wing_company_container span:hover {
  background: rgba(0, 0, 255, 0.5)
}

/* 连接板块 */
.wing_connect_bg {
  background-color: #1B1F25;
}

.wing_connect_container {
  height: 60vh;
}

.wing_connect_container_nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/* 用opacity为整个盒子覆阴影 */
.wing_connect_container_nav a {
  display: block;
  width: 40%;
  height: 25%;
  color: #FFF;
  font-style: italic;
  opacity: 0.5;
}

.wing_connect_container_nav h2 {
  font-size: 32px;
}

.wing_connect_container_nav h2::before {
  display: block;
  background-color: #0052B9;
  height: 100%;
  width: 5px;
}

.wing_connect_container_nav p {
  font-size: 16px;
}