/* banner背景 */
.wing_news_bg {
  position: relative;
  height: 720px;
  background: url(../images/banner_3.avif) no-repeat 0 -100px;
  overflow: hidden;
}

/* 背景蒙版 */
.wing_news_bg_shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.wing_news_container {
  position: relative;
  height: 900px;
  padding-top: 250px;
}

/* nav导航栏，覆盖于container上，定位顶端 */
.wing_news_nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  background-color: transparent;
}

.wing_news_nav img {
  float: left;
  width: 168px;
  height: 22px;
  margin: 25px 0;
}

.wing_news_nav ul {
  display: flex;
  /* 平分盒子,flex */
  float: right;
  justify-content: space-around;
  width: 55%;
}

.wing_news_nav .language {
  float: right;
  width: 10%;
}

.wing_news_nav li {
  color: #FFF;
  height: 72px;
  font-size: 16px;
  font-weight: bold;
  line-height: 72px;
}

.wing_news_nav .language a,
span {
  float: left;
  height: 72px;
  margin: 0 5px;
  font-size: 16px;
  height: 72px;
  color: #FFF;
  line-height: 72px;
}

/* 文字部分 */
.wing_news_text h2 {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.wing_news_text h5 {
  color: #FFF;
  font-size: 0.4rem;
  font-weight: 400;
  margin-bottom: 150px;
}

/* 轮播图按钮 */
.wing_news_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid #FFF;
}

.wing_news_button .wing_news_button_l {
  transform: rotate(180deg);
  margin-left: 20px;
}

.wing_news_button .wing_news_button_chose span {
  float: right;
  width: 10px;
  height: 10px;
  background-color: #fff;
}

/* 最新动态板块 */
/* 为大板块和新板块附加定位,新板块需要压住大板块 */
.wing_news {
  position: relative;
}

.wing_latestnews {
  position: absolute;
  bottom: 30px;
  height: 100px;
  background-color: pink;
}