/* nav导航栏，覆盖于container上，定位顶端 */
.wing_news_nav_bg {
  position: fixed;
  /* 父元素没有width，子元素的margin:0 auto;失效 */
  width: 100%;
  height: 72px;
  background-color: transparent;
  top: 0;
  z-index: 1;
  transition: all 0.4s ease;
}

.wing_nav_move {
  background-color: #fff;
}

/* js为下拉白色背景 */
.wing_news_nav_bg_js {
  height: 11rem;
  background-color: #fff;
}

.wing_news_nav {
  height: 100%;
  background-color: transparent;
  /* transition: all 0.3s ease; */
}

.wing_news_nav img {
  float: left;
  width: 168px;
  height: 22px;
  margin: 25px 0;
}

.wing_news_nav_m {
  display: flex;
  float: right;
  justify-content: space-around;
  width: 55%;
  height: 100%;
  text-align: center;
}

.wing_news_nav_m>li {
  width: 100%;
  height: 72px;
  text-align: center;
}

.wing_news_nav_head {
  display: block;
  position: relative;
  width: 180%;
  height: 100%;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 72px;
}

.wing_news_nav_head::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform-origin: center;
  transform: scaleX(0);
  transition: all 0.4s;
  background-color: blue;
}

.wing_news_nav_head:hover::after {
  transform: scaleX(0.2);
}

.wing_news_nav_m .wing_news_nav_content {
  /* display: none; */
  text-align: center;
  width: 100%;
  /* 让盒子沿Y轴缩起来 */
  transform-origin: 50% 0;
  transform: scaleY(0);
  transition: all 0.4s;
}

.wing_news_nav_m>li:hover .wing_news_nav_content {
  transform: scaleY(1);
}

.wing_news_nav_m .wing_news_nav_content li {
  display: block;
  width: 180%;
  height: auto;
  margin: 20px 0;
}

.wing_news_nav_m .wing_news_nav_content a {
  display: block;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: normal;
  line-height: 0.5rem;
  color: #2b2e2e;
}

.wing_news_nav .language {
  float: right;
  width: 18%;
  margin-left: 30px;
}

.wing_news_nav .language a,
.wing_news_nav .language span {
  float: right;
  height: 72px;
  margin: 0 5px;
  font-size: 16px;
  height: 72px;
  color: #FFF;
  line-height: 72px;
}

/* 回顶按钮 */
.wing_top {
  position: fixed;
  right: 1rem;
  bottom: -2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 1px solid #0052D9;
  border-radius: 50%;
  z-index: 999;
  transition: all 0.3s ease;
}

.wing_top a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.wing_top span {
  position: absolute;
  top: calc(50% - 0.02rem);
  left: calc(50% - 0.11rem);
  width: 0.3rem;
  height: 0.3rem;
  /* transform: translateX(-0.15rem); */
  transform: rotate(45deg);
  background-color: transparent;
  border-left: 1px solid #0052D9;
  border-top: 1px solid #0052D9;
}

/* banner背景 */
.wing_news_bg {
  position: relative;
  height: 720px;
}

.wing_news_bg_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  overflow: hidden;
}

.wing_news_bg_box ul {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  /* js动态修改 */
  width: 300%;
  height: 720px;
  transition: all 0.3s ease;
}

.wing_news_bg_box ul li {
  display: block;
  /* js动态修改 */
  width: 33.3%;
  height: 100%;
}

.wing_news_bg_0 {
  background: url(../images/banner_0.jpg) no-repeat 0 -100px;
  background-size: 100% 900px;
  overflow: hidden;
}

.wing_news_bg_1 {
  background: url(../images/banner_1.avif) no-repeat 0 -100px;
  background-size: 100% 900px;
  overflow: hidden;
}

.wing_news_bg_2 {
  background: url(../images/banner_2.avif) no-repeat 0 -100px;
  background-size: 100% 900px;
  overflow: hidden;
}

/* 背景蒙版 */
.wing_news_bg_shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 720px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.wing_news_container {
  position: relative;
  height: 900px;
  padding-top: 250px;
}

/* 文字部分 */
.wing_news_text h2 {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.wing_news_text h5 {
  height: 36px;
  color: #FFF;
  font-size: 0.4rem;
  font-weight: 400;
  margin-bottom: 150px;
}

/* 轮播图按钮 */
.wing_news_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-bottom: 1px solid #FFF;
}

.wing_news_last,
.wing_news_next {
  cursor: pointer;
}

.wing_news_button .wing_news_button_l {
  transform: rotate(180deg);
  margin-left: 20px;
}

.wing_news_button .wing_news_button_chose a {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  background-color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.wing_news_button .wing_news_button_chose .wing_news_now {
  width: 40px;
  background-color: #0052D9;
}

/* 最新动态板块 */
/* 选择2D位移实现 */
.wing_latestnews {
  transform: translateY(-120px);
  margin-top: 20px;
}

.wing_latestnews_container {
  display: flex;
  justify-content: space-between;
  color: black;
}

.wing_latestnews_l_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wing_latestnews_l_4,
.wing_latestnews_r_2,
.wing_latestnews_r_3 {
  margin-top: 20px;
}

/* 交互初始化 */
.wing_up,
.wing_img_up {
  transition: all 0.3s ease;
}

.wing_up:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.wing_img_up:hover {
  transform: scale(1.1);
}

/* 文字部分初始化 */
.wing_latestnews h4 {
  font-size: 28px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 5px;
}

.wing_latestnews h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.wing_latestnews p {
  font-size: 16px;
}

/* 此处考虑换成 .language:is(h3,p) */
.wing_latestnews h3,
.wing_latestnews p {
  display: block;
  margin: 0 20px 20px;
}

/* 对三角模块处理 */
.wing_latestnews_container span {
  display: inline-block;
  float: none;
  position: relative;
  width: 130px;
  height: 32px;
  padding-left: 20px;
  border-width: 1px 0;
  border-style: solid;
  margin: 5px 0;
  line-height: 30px;
}

.wing_latestnews_container .blue {
  border-color: blue;
  color: blue;
}

.wing_latestnews_container .white {
  border-color: #FFF;
  color: #FFF;
}

.wing_latestnews_container span::after {
  content: "";
  display: inline-block;
  overflow: hidden;
  position: absolute;
  right: -30px;
  top: 0;
  width: 30px;
  height: 35px;
  transform-origin: top left;
  transform: rotate(30deg);
}

.wing_latestnews_container .blue::after {
  border-left: 1px solid blue;
  background-color: #fff;
}

.wing_latestnews_container .white::after {
  border-left: 1px solid #FFF;
  background-color: rgb(0, 169, 206);
}

/* bg_blue用于修改蓝色背景,覆盖溢出下边缘的背景！ */
/* bg_blue一定要在blue和white后面不要动，因为层叠性 */
.wing_latestnews_container .bg_blue::after {
  background-color: blue;
}

.wing_latestnews_container .bg_gray::after {
  background-color: #CCC;
}

/* 左右盒子宽度初始化 */
.wing_latestnews_l {
  width: 65%;
}

.wing_latestnews_r {
  width: 33%;
}

.wing_latestnews_l_2,
.wing_latestnews_l_3 {
  width: 48%;
}

/* 此处考虑修改为伪类选择器 */
.wing_latestnews_l_1,
.wing_latestnews_l_2,
.wing_latestnews_l_3,
.wing_latestnews_l_4,
.wing_latestnews_r_1,
.wing_latestnews_r_2,
.wing_latestnews_r_3 {
  height: 600px;
}

/* 该处写盒子背景颜色 */
.wing_latestnews_l_1,
.wing_latestnews_l_3 {
  background-color: #FFF;
}

.wing_latestnews_r_1 {
  background-color: rgb(0, 169, 206);
}

.wing_latestnews_l_2,
.wing_latestnews_r_3 {
  background-color: blue;
}

.wing_latestnews_r_2 {
  background-color: #CCC;
}

.wing_latestnews_l_4 {
  background-color: #FFF;
}

/* 图片特征 */
.wing_latestnews_l_1_img,
.wing_latestnews_l_4_img {
  overflow: hidden;
  height: 60%;
}

/* 此处考虑修改为伪类选择器 */
.wing_latestnews_l_2_img,
.wing_latestnews_l_3_img,
.wing_latestnews_r_1_img,
.wing_latestnews_r_2_img,
.wing_latestnews_r_3_img {
  overflow: hidden;
  /* 此处选择让图片自己撑开盒子 */
  /* height: 45%; */
  /* height: auto; */
  border-bottom: 1px solid #FFF;
}

/* 公司板块 */
.wing_company {
  margin-top: 50px;
  background-color: #fff;
  padding: 50px 0;
}

.wing_company_container {
  display: flex;
  justify-content: space-between;
}

.wing_company_container div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  /* calc运算符左右一定要有空格隔开 */
  width: calc(33.33% - 20px);
  height: 230px;
}

.wing_company a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.wing_company img {
  width: 100%;
  height: 100%;
}

.wing_company span {
  position: absolute;
  left: 0;
  top: 0;
}

.wing_company i {
  position: relative;
}

.wing_company i::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #FFFe;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.wing_box_up:hover i::after {
  transform: scaleX(1);
}

/* 交互初始化 */
.wing_box_up img {
  transition: all 0.3s ease;
}

.wing_box_up:hover img {
  transform: scale(1.1);
}

/* 文字居中 */
.wing_company_container span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 32px;
  font-weight: 500;
  color: #FFF;
  line-height: 230px;
}

.wing_company_container span:hover {
  background: rgba(0, 0, 255, 0.5)
}

/* 连接板块 */
.wing_connect_bg {
  background-color: #1B1F25;
}

.wing_connect_container {
  display: flex;
  height: 630px;
}

.wing_connect_container_nav {
  display: flex;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.wing_connect_container_content {
  width: 70%;
}

/* 侧边导航栏 */
/* 交互初始化 */
.wing_text_up,
.wing_connect_up:hover h3::after {
  transition: all 0.3s ease;
}

.wing_text_up:hover {
  opacity: 1;
  transform: translateX(20px);
}

.wing_text_up:hover h2::before,
.wing_text_up:hover p::after {
  display: block;
}

.wing_connect_up:hover h3::after {
  /* display: block; */
  visibility: visible;
  transform: translateX(20px);
}

.wing_connect_up:hover p {
  display: block;
}

/* 用opacity为整个盒子覆阴影 
可以连着文字一起阴影*/
.wing_connect_container_nav a {
  display: block;
  width: 100%;
  height: 25%;
  color: #FFF;
  font-style: italic;
  opacity: 0.5;
}

.wing_connect_container_nav h2 {
  position: relative;
  font-size: 32px;
}

.wing_connect_container_nav h2::before {
  content: "";
  display: none;
  position: absolute;
  left: -20px;
  top: 0;
  background-color: #0052D9;
  height: 100%;
  width: 5px;
}

.wing_connect_container_nav p {
  font-size: 16px;
  position: relative;
}

.wing_connect_container_nav p::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 60px;
  height: 60px;
  background: url(../images/icon_arrow_r.png) no-repeat;
  background-size: contain;
}

/* 连接 内容部分 */

/* 正文 */
.wing_connect_container_content div[class^="wing_connect_container_content_"] {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.wing_connect_container_content div[class^="wing_connect_container_content_js"] {
  display: none;
  width: 100%;
  height: 100%;
}

/* 网页默认第一个显示，权重拉高 */
.wing_connect_container .wing_connect_container_content .wing_connect_container_content_js_1 {
  display: block;
}

/* 该代码意思是将该元素的列跨度变为2，即跨两列 */
.wing_connect_container_content_longer {
  grid-column-start: span 2;
}

.wing_connect_container_content a {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
}

.wing_connect_container_content h3 {
  position: relative;
  width: 100%;
  color: #FFF;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin: 10px 0;
}

.wing_connect_container_content h3::after {
  content: "";
  display: block;
  /* display: none; */
  visibility: hidden;
  position: absolute;
  right: 30px;
  top: 0;
  width: 50px;
  height: 100%;
  background: url(../images/icon_arrow_r.png) no-repeat 0 15px;
  background-size: contain;
}

.wing_connect_container_content p {
  display: none;
  font-size: 16px;
  color: #FFF;
  font-style: italic;
}

/* 背景图片 */
/* Less */
.wing_connect_container_content_1_1 {
  background: url(../images/link_1_1.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_1_2 {
  background: url(../images/link_1_2.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_1_3 {
  background: url(../images/link_1_3.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_1_4 {
  background: url(../images/link_1_4.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_2_1 {
  background: url(../images/link_2_1.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_2_2 {
  background: url(../images/link_2_2.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_2_3 {
  background: url(../images/link_2_3.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_3_1 {
  background: url(../images/link_3_1.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_3_2 {
  background: url(../images/link_3_2.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_3_3 {
  background: url(../images/link_3_3.jpg) no-repeat;
  background-size: cover;
}

.wing_connect_container_content_3_4 {
  background: url(../images/link_3_4.jpg) no-repeat;
  background-size: cover;
}

/* 连接plus */
.wing_connectPlus_bg {
  height: 800px;
  background-color: #fff;
  padding: 100px 0;
}


.wing_connectPlus_container {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

/* 左侧 */

.wing_connectPlus_container .wing_connectPlus_img {
  position: relative;
  width: 50%;
  height: 600px;
}

/* 切三角 */
.wing_connectPlus_img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: url(../images/cut.png) no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.wing_connectPlus_container a[class^="wing_connectPlus_img"] {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

/* 左侧文字部分 */
/* 文字阴影 */
.wing_connectPlus_img_shadow {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 50px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
}

.wing_connectPlus_img h4 {
  font-size: 24px;
  font-style: italic;
  color: #FFF;
  margin-bottom: 15px;
}

.wing_connectPlus_img p {
  font-size: 16px;
  font-style: italic;
  color: #FFF;
}

/* 切换左右箭头 */
.wing_connectPlus_img .wing_connect_arrow {
  position: absolute;
  bottom: 30px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 28%;
  padding: 0 60px;
  transition: all 0.3s ease;
}

.wing_connnect_arrow_last {
  width: 15px;
  height: 15px;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  transform: rotate(-45deg);
}

.wing_connnect_arrow_next {
  width: 15px;
  height: 15px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  transform: rotate(45deg);
}

/* 右侧 */
.wing_connectPlus_text {
  display: flex;
  width: 45%;
  /* justify-content: center; */
  align-items: center;
}

.wing_connectPlus_text h3 {
  font-size: 32px;
  font-style: italic;
  color: black;
  margin-bottom: 15px;
}

.wing_connectPlus_text p {
  position: relative;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  color: black;
}

.wing_connectPlus_text p::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 60px;
  height: 60px;
  background: url(../images/icon_arrow_r_dark.png) no-repeat 0 30px;
  background-size: contain;
}

/* 背景图片 */
.wing_connectPlus_img_1 {
  background: url(../images/connect_1.jpg) no-repeat;
  background-size: cover;
}

/* 加入jion */
.wing_join_bg {
  position: relative;
  height: 900px;
}

.wing_join_bg_box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wing_join_bg_box ul {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  /* js动态修改 */
  width: 300%;
  height: 100%;
  transition: all 0.3s ease;
}

.wing_join_bg_box ul img {
  display: block;
  /* js动态修改 */
  width: 33.3%;
}

/* 主体 */
.wing_join_container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 5% 3% 50px;
}

/* 文字部分 */
.wing_join_bg h2 {
  color: #1B1F25;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 10px;
}

.wing_join_bg h5 {
  color: #1B1F25;
  position: relative;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.wing_join_bg h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 50px;
  height: 50px;
  background: url(../images/icon_arrow_r_dark.png) no-repeat;
  background-size: contain;
}

/* 轮播图按钮 */
.wing_join_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

.wing_join_button .wing_join_button_l {
  transform: rotate(180deg);
  margin-left: 20px;
}

.wing_join_button .wing_join_button_chose a {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  background-color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.wing_join_button .wing_join_button_chose .wing_join_now {
  width: 40px;
  background-color: #0052D9;
}

/* 底部footer */
.wing_footer_bg {
  background-color: #fff;
  height: 500px;
}

.wing_footer_bg dl,
.wing_footer_bg a {
  list-style: none;
  color: #5f6464;
  font-weight: normal;
}

.wing_footer_bg dt {
  font-size: 20px;
}

.wing_footer_bg dd {
  font-size: 16px;
}

.wing_footer_focus {
  padding: 40px 0;
  height: 120px;
  border-bottom: 1px solid #f2f3f5;
}

.wing_footer_focus a {
  display: block;
  width: 100%;
  height: 100%;
}

.wing_footer_focus dt,
.wing_footer_focus dd {
  float: left;
  margin-right: 50px;
  width: 40px;
  height: 40px;
}

.wing_footer_focus dt {
  width: 100px;
}

.wing_footer_second {
  display: flex;
}

.wing_footer_join,
.wing_footer_connect,
.wing_footer_law {
  width: 20%;
}

/* .wing_footer_second div[att^="wing_footer_"] */
.wing_footer_join dt,
.wing_footer_connect dt,
.wing_footer_law dt {
  height: 22px;
  margin: 20px 0 30px;
}

.wing_footer_join dd,
.wing_footer_connect dd,
.wing_footer_law dd {
  height: 18px;
  margin: 0 0 20px;
}

.wing_footer_logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* .wing_footer_logo img {
  max-width: 100%;
  max-height: 100%;
} */

/* 背景 */
.wing_footer_focus_1 {
  background: url(../images/icon_wechat.png);
  background-size: contain;
}

.wing_footer_focus_2 {
  background: url(../images/icon_weibo.png);
  background-size: contain;
}

.wing_footer_focus_3 {
  background: url(../images/icon_x.png);
  background-size: contain;
}

.wing_footer_focus_4 {
  background: url(../images/icon_in.png);
  background-size: contain;
}

.wing_footer_focus_5 {
  background: url(../images/icon_youtube.png);
  background-size: contain;
}

/* end  */
.wing_footer_end {
  display: flex;
  flex-direction: column;
}

.wing_footer_end li {
  float: left;
  margin-right: 15px;
  list-style: none;
  color: #5f6464;
  font-size: 14px;
}

.wing_footer_end p {
  color: #5f6464;
  margin-top: 5px;
  font-size: 14px;
}